<div class="register container-fluid">
  <div class="row min-vh-100">
    <!-- LEFT SECTION -->
    <div class="col-lg-6 d-none d-lg-block register-branding p-0">
      <img src="/wallpaper.svg" alt="wallpaper" class="register-branding-bg" />
      <img src="/brand-logo.svg" alt="logo" class="register-branding-logo" />
    </div>

    <!-- RIGHT SECTION -->
    <div class="col-12 col-lg-6 register-form px-0">
      <div class="register-form-header d-lg-none">
        <img src="/brand-logo.svg" alt="logo" />
      </div>

      <div class="register-form-container">
        <!-- TITLE -->
        <h2>{{ title }}</h2>

        <form class="auth-form" [formGroup]="userForm">
          <!-- USERNAME -->
          <mat-form-field appearance="outline" class="full-width mb-2">
            <mat-label>Username</mat-label>

            <input matInput type="text" formControlName="username" />

            @if (username.hasError('required')) {
              <mat-error>Username is required</mat-error>
            } @else if (username.hasError('pattern')) {
              <mat-error>
                Only letters, numbers, spaces, and the symbols !#()_- are allowed
              </mat-error>
            }
            @if (username.touched && username.hasError('serverError')) {
              <mat-error>Username already exists</mat-error>
            }
          </mat-form-field>

          <!-- PASSWORD -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>

            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              aria-label="Toggle password visibility"
            >
              <mat-icon>
                {{ hide ? 'visibility_off' : 'visibility' }}
              </mat-icon>
            </button>

            <!-- REQUIRED -->
            @if (password.hasError('required')) {
              <mat-error>Password is required</mat-error>
            }

            <!-- SIGNUP ERRORS ONLY -->
            @if (mode() === 'signup' && password.hasError('minlength')) {
              <mat-error>Password is weak</mat-error>
            } @else if (mode() === 'signup' && password.hasError('pattern')) {
              <mat-error>
                Only letters, numbers, spaces, and the symbols !#()_- are allowed
              </mat-error>
            }

            <!-- SUCCESS -->
            <!-- SUCCESS HINT -->
            @if (mode() === 'signup' && isPasswordStrong(password.value, username.value)) {
              <mat-hint class="password-strong text-primary">Password strength: Strong</mat-hint>
            }
          </mat-form-field>

          @if (mode() === 'login') {
            <div class="remember pointer d-md-none mb-4 ms-4" (click)="remember()">
              <img
                [src]="rememberMe ? '/Icons/Checkbox_selected.svg' : '/Icons/Checkbox_active.svg'"
                alt="remember checkbox"
                class="me-2"
              />
              <span>Remember Me</span>
            </div>
          }

          <!-- VALIDATION CHECKLIST -->
          @if (mode() === 'signup') {
            <div class="validation-list">
              <!-- cannot contain username -->
              <div
                class="validation-list-item"
                [ngClass]="{
                  valid: doesNotContainUsername(passwordValue(), usernameValue()),
                  invalid:
                    passwordValue() && !doesNotContainUsername(passwordValue(), usernameValue()),
                  pending: !passwordValue(),
                }"
              >
                <img
                  [src]="
                    passwordValue() && doesNotContainUsername(passwordValue(), usernameValue())
                      ? '/Icons/Check.svg'
                      : '/Icons/Bullet.svg'
                  "
                  alt=""
                  style="width: 12px"
                />
                <span>Cannot contain your username</span>
              </div>

              <!-- min length -->
              <div class="validation-list-item" [class.valid]="hasMinLength(passwordValue())">
                <img
                  [src]="
                    passwordValue() && hasMinLength(passwordValue())
                      ? '/Icons/Check.svg'
                      : '/Icons/Bullet.svg'
                  "
                  alt=""
                  style="width: 12px"
                />
                <span>At least 8 characters</span>
              </div>

              <!-- number or symbol -->
              <div class="validation-list-item" [class.valid]="hasNumberOrSymbol(passwordValue())">
                <img
                  [src]="
                    passwordValue() && hasNumberOrSymbol(passwordValue())
                      ? '/Icons/Check.svg'
                      : '/Icons/Bullet.svg'
                  "
                  alt=""
                  style="width: 12px"
                />
                <span>Contains a number or symbol</span>
              </div>
            </div>
          }

          <!-- CTA -->
          <button
            mat-raised-button
            color="primary"
            class="submit-btn"
            [class.disabled-btn]="
              !isPasswordStrong(password.value, username.value) && mode() !== 'login'
            "
            (click)="submit()"
            [disabled]="!isPasswordStrong(password.value, username.value) && mode() !== 'login'"
          >
            {{ mode() === 'login' ? 'Sign in' : 'Sign up' }}
          </button>
        </form>

        <!-- SWITCH MODE -->
        <div class="text-center">
          <h3 class="primary-black">
            {{ mode() === 'login' ? "Don't have an account?" : 'Already have an account?' }}

            <a (click)="toggleMode()" class="primary-blue">
              {{ mode() === 'login' ? 'Sign up' : 'Sign in' }}
            </a>
          </h3>
        </div>

        <!-- DIVIDER -->
        <div class="d-flex align-items-center my-4">
          <hr class="flex-grow-1" />
          <span class="mx-2 text-muted">OR</span>
          <hr class="flex-grow-1" />
        </div>

        <!-- SOCIAL LOGIN -->
        <div class="cta cta-wrapper">
          <a
           href="http://localhost:8080/oauth2/authorization/google"
            class="cta-google btn w-100 mb-2 d-flex align-items-center justify-content-center gap-2"
          >
            <img src="Icons/Google.svg" width="18" height="18" alt="google logo" />
            <span>Continue with Google</span>
          </a>

          <a 
          href="http://localhost:8080/oauth2/authorization/facebook"
          class="cta-fb btn w-100 d-flex align-items-center justify-content-center gap-2">
            <img src="Icons/Facebook.svg" width="18" height="18" alt="facebook logo" />
            <span>Continue with Facebook</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
