// -----------------------------------------------------------------------------
// Color Tokens
// -----------------------------------------------------------------------------
// Design system color variables for consistent theming.
// Use these variables for text, backgrounds, borders, and hover states.
// Helps maintain visual consistency across the UI.
// Add more as needed.
// -----------------------------------------------------------------------------

$primary-blue: #027CEC;
$primary-black: #272D32;
$secondary-grey: #818D99;
$tertiary-grey: #C7CED6;
$white: #ffffff;

// Surface / backgrounds
$surface-hover: #f1f3f5;
$surface-active: #e9ecef;

$checkbox: #62C6FF;

$error: #CA0061;
$due-date: #009292;

// frames
$frame-low: #2FBD00;
$frame-high: #FAC300;
$frame-critical: #EB0000;

// icons and cards
$card-low: #F9FFF6;
$card-high: #FFFDF2;
$card-crititcal: #FFF6F6;

// texts
$text-low: #165700;
$text-high: #624D00;
$text-critical: #7F0000;

