// -----------------------------------------------------------------------------
// Color Tokens
// -----------------------------------------------------------------------------
// Design system color variables for consistent theming.
// Use these variables for text, backgrounds, borders, and hover states.
// Helps maintain visual consistency across the UI.
// Add more as needed.
// -----------------------------------------------------------------------------

$primary-blue: #027cec;
$primary-black: #272d32;
$secondary-grey: #818d99;
$tertiary-grey: #c7ced6;
$white: #ffffff;
$alice-blue: #eef5ff;

// Surface / backgrounds
$surface-hover: #f1f3f5;
$surface-active: #e9ecef;

$checkbox: #62c6ff;

$error: #ca0061;
$due-date: #009292;

// frames
$frame-low: #2fbd00;
$frame-high: #fac300;
$frame-critical: #eb0000;

// icons and cards
$card-low: #f9fff6;
$card-high: #fffdf2;
$card-crititcal: #fff6f6;

// texts
$text-low: #165700;
$text-high: #624d00;
$text-critical: #7f0000;
