@use '@angular/material' as mat;

// ── BUTTONS ──
.mat-mdc-raised-button.mat-primary {
  background-color: #027cec !important;
  color: white;

  &:hover {
    background-color: #026ed1 !important;
  }
  &:active {
    background-color: #025fb8 !important;
  }
}

.mat-icon {
  color: currentColor;
}

// add this at the bottom of styles.scss
.mdc-evolution-chip {
  border-radius: 2px !important;
}


// ── CHECKBOX ──
.mdc-checkbox__background {
  // border-color: #027CEC !important;
}

.mdc-checkbox--selected .mdc-checkbox__background,
.mdc-checkbox__native-control:checked ~ .mdc-checkbox__background {
  background-color: #027CEC !important;
  // border-color: #027CEC !important;
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  // background-color: #027CEC !important;
  border-color: #027CEC !important;
}