.mat-mdc-raised-button.mat-primary {
  background-color: #027CEC !important;
  color: white;
}

.mat-mdc-raised-button.mat-primary:hover {
  background-color: #026ed1 !important;
}

.mat-mdc-raised-button.mat-primary:active {
  background-color: #025fb8 !important;
}

.mat-icon {
  color: inherit;
}
