@use '@angular/material' as mat;

// ── BUTTONS ──
.mat-mdc-raised-button.mat-primary {
  background-color: #027cec !important;
  color: white;

  &:hover {
    background-color: #026ed1 !important;
  }
  &:active {
    background-color: #025fb8 !important;
  }
}

.mat-icon {
  color: currentColor;
}

// add this at the bottom of styles.scss
.mdc-evolution-chip {
  border-radius: 2px !important;
}
