<div class="d-block d-md-none">
  <app-mobile-header></app-mobile-header>
  @if (isTodoListPage()) {
    <app-todo-filter-mobile></app-todo-filter-mobile>
  }
</div>

<div class="container-fluid p-0">
  <div class="row g-0">
    <!-- Sidebar (hidden on mobile) -->
    <div class="col-2 d-none d-md-block">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Main Content -->
    <div class="col-12 col-md-10 main-wrapper">
      <main class="content">
        @if (!hideBreadCrumb()) {
          <app-breadcrumb ></app-breadcrumb>
        }
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>

<div class="d-block d-md-none">
  <app-mobile-nav></app-mobile-nav>
</div>
