@use '@angular/material' as mat;
@use './app/styles/tokens.scss' as *;
@use './app/styles/utils.scss' as *;
@use './app/styles/material-overrides.scss';
@use 'bootstrap/scss/bootstrap';

@include mat.core();

$my-theme: mat.define-theme(
  (
    color: (
      primary: mat.$blue-palette,
    ),
  )
);

:root {
  @include mat.all-component-themes($my-theme);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background: $white;
  color: $primary-black;
  margin: 0;
  padding: 0;
}
