@use '@angular/material' as mat;
@use './app/styles/tokens.scss' as *;
@use './app/styles/utils.scss' as *;
@use './app/styles/material-overrides.scss';
@use 'bootstrap/scss/bootstrap';

@include mat.core();

$custom-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
  ),
  typography: (
    brand-family: $font-primary,
  ),
));

html {
  @include mat.all-component-themes($custom-theme);

  // Override the generated primary with your exact blue
  --mat-sys-primary: #027cec;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #d0e8ff;
  --mat-sys-on-primary-container: #027cec;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: $font-primary;
  background: $white;
  color: $primary-black;
}