<div class="sidebar sidebar-wrapper d-none d-md-block">
  <div class="sidebar-header">
    <img src="Logo Header.svg" alt="navbar logo" />
  </div>

  <div class="sidebar-content">
    <div class="sidebar-content-user">
      <img src="user-placeholder.png" alt="user" />
      <div class="user-details">John Doe</div>
    </div>
    <div class="sidebar-content-controls">
      <p><img src="Icons/Home.svg" alt="" /><a class="cursor-pointer">Home</a></p>
      <p><img src="Icons/Signout.svg" alt="sign-out" /><a class="cursor-pointer">Sign out</a></p>
    </div>
  </div>
</div>
